* {
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    -o-user-select: none;
    user-select: none;
}
body {
	background-color: #221;
	/*background-image: -webkit-repeating-linear-gradient( -45deg, gray, #fff 5px, #522 5px);*/


}
#pseudocanvas {
    width: 800px;
    height: 800px;
    background-image: url('img/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-color: gray;
    position: absolute;
    left: calc(50% - 400px);
    top: calc(50% - 400px);

    -moz-box-shadow: 	inset 0 0 10px #000, 0 0 10px #000;
	-webkit-box-shadow: inset 0 0 10px #000, 0 0 10px #000;
	box-shadow: 		inset 0 0 10px #000, 0 0 10px #000;

}
.enemy {
    position: absolute;
}
div.word {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255, 255, 255, 0.9);
    font-size: 14px;
    font-weight: bold;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    display: inline-block;
    padding: 2px 5px;
    z-index: 2;
}
input {
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.7);
    background-color: rgba(255, 255, 255, 0.4);
    display: block;
    margin: 0 auto;
    position: absolute;
    width: 100px;
    height: 16px;
    top: calc(50% - 8px);
    left: calc(50% - 50px);
    outline: none;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 4px;
}
#score {
    width: 100%;
    font-family: Georgia;
    font-size: 50px;
    color: rgba(255, 255, 255, 1);
    text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.9), 0px 1px 1px rgba(0, 0, 0, 0.9), -1px 0px 1px rgba(0, 0, 0, 0.9), 0px -1px 1px rgba(0, 0, 0, 0.9);
    text-align: center;
    margin: 0 auto;
    z-index: 1;
}
#score:before {
    content:'score: ';
    font-size: 30px;
}
.lightbox {
	z-index: 10;
	background-color: rgba(255,255,255,0.95);
	-webkit-box-shadow: 0px 0px 50px rgba(255, 255, 255, 0.89);
	-moz-box-shadow:    0px 0px 50px rgba(255, 255, 255, 0.89);
	box-shadow:         0px 0px 50px rgba(255, 255, 255, 0.89);
	
	width: 500px;
	height: 500px;

	margin: 0 auto;
	padding-top: 50px;

	position: absolute;
	left: 150px;
	top: 100px;

	text-align: center;	
	font-size: 50px;
	font-family: 'Bigelow Rules', cursive;
}
hr {
	margin: 20px auto 20px auto;
	width: 50px;
	height: 1px;
	border: 0;
	background: #333;
}
.instructions {
	 
}
.btn {
    display: block;
    position: absolute;
    width: 106px;
    bottom: 20px;
    left: 173px;
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    -webkit-box-shadow: 0px 0px 40px #333;
	-moz-box-shadow:    0px 0px 40px #333;
	box-shadow:         0px 0px 40px #333;
    border-radius: 4px;
    font-family: 'Sancreek', cursive;
    color: black;
    font-size: 30px;
    background: #fff;
    padding: 10px 20px 10px 20px;
    margin: 0 auto;
    text-decoration: none;
    cursor: pointer;
}
.btn:hover {
    background: #333;
    color: white;
    text-decoration: none;
}
#endscore {
	font-weight: bold;
}