@font-face {
	font-family: "FuturaExt";
	src: url("../fonts/FuturaExtended.ttf");
}

body {
	background-color: #d6cba0;
	color: #393429;
}

#content {
	width: 60%;
	margin: 0 auto;
	/*text-align: center;*/
	font-size: 15pt;
	font-family: 'FuturaExt', 'Roboto', sans-serif;
}

ul {
	margin: 0;
	padding: 0;
	display: inline-block;
}
nav ul li {
	list-style-type: none;
}

i[class^="icon-"] {
	width: 1em;
	display: inline-block;
}
nav {
	font-family: 'Ubuntu', sans-serif;
	font-size: 2em;
	margin: 5% auto;
	width: 50%;
	display: block;
}
#content a {
	color: inherit;
	text-decoration: underline;

}
#content a:hover {
	
}
nav a {
	margin: 10px;
	text-decoration: none;
	text-align: center;
	color: inherit;
	/*color: rgba(0,0,0,0);
	text-shadow: 0px 0px 3px  #393429;*/
	text-shadow: 0px 1px 0px rgba(255,255,255,0.4);
}
nav a:hover {
	text-decoration: none;
	text-shadow: none;

	color: #393429;
	text-shadow: 	1px 1px 8px white,
					-1px 1px 8px white,
					1px -1px 8px white,
					-1px -1px 8px white;
}
a:visited, a:link{
	text-decoration: none;
}

input#color {
	position: absolute;
	top: calc(100% - 22px);
	margin: 0;
	border: 1px solid black;
	box-shadow: none;
}

